<div id="quest-<%= quest.id %>">
  <span class="title">
  	<%= quest.name %> - 
  	<%= quest.rank %>
    <%= quest.percent_complete %>
  </span>
  <span class="timestamp">
  	Created on <%= quest.start_day.strftime("%A %B %d, %Y") %>
  </span>
  <div class="progress">
    <div class="progress-bar progress-bar-success" style="width: <%=quest.percent_complete%>%">
      <span class="sr-only">35% Complete (success)</span>
    </div>
    <div class="progress-bar" style="width: <%=quest.percent_last_record%>%">
      <span class="sr-only">20% Complete (default)</span>
    </div>
    <div class="progress-bar progress-bar-info" style="width: <%=quest.percent_left%>%">
      <span class="sr-only">20% Complete (info)</span>
    </div>
  </div>
</div>