<div id="quest-<%= quest.id %>">
  <span class="title">
  	<%= quest.name %> - 
  	<%= get_rank_name(quest) %>
  </span>
  <span class="timestamp">
  	Quest began on <%= quest.start_day.strftime("%B %d, %Y") %>
    <%= link_to "Reset Progress", reset_quest_path(quest), method: :put,
                                  data: { confirm: "Are you sure you want to RESET all progress?" },
                                  class: "btn btn-xs btn-warning" %>
    <%= link_to "Delete Quest", quest_path(quest), method: :delete,
                                  data: { confirm: "Are you sure you want to DELETE this quest?" },
                                  class: "btn btn-xs btn-danger" %>
  </span>
  <div class="progress">
    <div class="progress-bar progress-bar-success" style="width: <%=quest.percent_complete%>%">
      <% if quest.days_complete < quest.goal %>
        <span><%=pluralize(quest.days_complete, 'day')%></span>
      <% else %>
        <span>Quest complete! <%=pluralize(quest.days_complete, 'day')%> and counting...</span>
      <% end %>
    </div>
    <div class="progress-bar" style="width: <%=quest.percent_last_record%>%">
      <span><%=pluralize(quest.days_last_record, 'day')%> old record</span>
    </div>
    <div class="progress-bar progress-bar-info" style="width: <%=quest.percent_left%>%">
      <span><%=pluralize(quest.days_left, 'day')%> left</span>
    </div>
  </div>
</div>